#box1 {
    display: flex;
    flex-direction: row;
}

#box2 {
    display: flex;
    flex-direction: column;
}

#box3 {
    display: flex;
    flex-direction: row-reverse;
}

#box4 {
    display: flex;
    flex-direction: column-reverse;
}