div {
    width: 200px;
    height: 100px;
    text-align: center;
    color: white;
    margin: 10px;
}

.block1 {
    background-color: #4CAF50;
    padding: 25px;
    margin: 5px;
}

.block2 {
    background-color: #2196F3;
    padding: 20px;
    margin: 10px;
}

.block3 {
    background-color: #FF5722;
    padding: 30px;
    margin: 0;
}

.block4 {
    background-color: #9C27B0;
    padding: 9px;
    margin: 23px;
}

.block5 {
    background-color: #FF9800;
    padding: 12px;
    margin: 29px;
}