 /* 3) დაწერეთ როგორ მუშაობს padding და margin, ჩამოთვალეთ CSS Box Model-ის ყველა შრე. ასევე CSS-ში დაწერეთ CSS reset-ის კოდი და ახსენით რისთვის ვიყენებთ  */

/* Padding არის შიგნითა სივრცე რომელიც ელემენტის შიგთავს და მის ბოლოს შორისაა. როდესაც paddings ვზრდით ელემენტის შიგთავსი მაგალიტად ტექსრი უფრო შორს მიდის. */

/* Margin არის სივრცე რომელიც ელემენტების შიგნიტ განლაგებისთვის საჭიროა როდესაც margins ზრდით ელემენტი უფრო შორს იწევა სხვებთან შედარებით . */

/* Css Box Model-ის ყველა შრე: content, padding, margin, border. */

/* css reset გამოიყენება სხვადასხვა ბრაუზერებისთვის რომლებსაც განსხვავებული სტილი აქვთ ერთმანეთის ბალანსურად დასაწყობად. */


* {
  margin: 10;
  padding: 7;
  box-sizing: border-box;
}
