body {
    background: 1c1c1c1;
    margin: 2px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box {
    background: 2e2e2e;
    width: 250px;
    padding: 15px;
    border-radius: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;

}

#photo {
    width: 80px;
    height: 80px;
    border-radius: 50px;
}

#links {
    display: flex;
    flex-direction: column;
    width: 50px;
    gap: 10px;
    margin-top: 10px;
}

#links a {
    background: 3d3d3d;
    padding: 10px;
    text-align: center;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
