body {
    background: #f4c146;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.card {
    background: white;
    width: 280px;
    padding: 20px;
    border-radius: 16px;
}


.card-image img {
    width: 100%;
    border-radius: 12px;
}

.button {
    background-color: #ffdc73;
    border: none;
    padding: 10px;
    margin-top: 14px;
    border-radius: 6px;
}

.data {
    margin: 6px 0 10px;
    font-size: 14px;
}

.title {
    margin: 0;
    font-size: 20px;
}

.child {
    color: #666;
    font-size: 14px;
    margin-top: 10px;
}

.author{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.avatar {
    width: 32px;
    height: 32px;
    background: #ddd;
    border-radius: 50%;
    margin-right: 10px;

}