body {
    background: #f4c146;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.card {
    background: white;
    width: 280px;
    padding: 20px;
    border-radius: 16px;
}


.card-image img {
    width: 100%;
    border-radius: 12px;
}

.tag {
    display: inline-block;
    background-color: #ffdc73;
    padding: 10px;
    margin-top: 14px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: bold;
}

.date {
    color: #555;
    margin: 6px 0 10px;
    font-size: 14px;
}

.title {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
}

.subtitle {
    color: #666;
    font-size: 14px;
    margin-top: 10px;
}

.avatar {
    width: 28px;
    height: 28px;
    background: #ddd;
    border-radius: 50%;
    margin-right: 10px;
}

