body {
    font-family: Arial, sans-serif;
    background-color: #19A1AE;
}

.container {
    width: 1440px;
    height: 720px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile {
    width: 320px;
    background: white;
    border-radius: 15px;
    text-align: center;
    overflow: hidden;
}

.top {
    height: 120px;
    background-color: #19A1AE;
}

.photo {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-top: 70px;
    border: 4px solid white;
}

.info {
    padding: 50px 20px 20px;
}

.info h2 {
    margin: 0;
}

.city {
    color: gray;
    margin-bottom: 20px;
}

.numbers {
    display: flex;
    justify-content: space-around;
}

.numbers p {
    font-size: 12px;
    color: gray;
}

span {
    color: gray;
}

